body{
  margin: 0;
  padding: 0;
  background: powderblue;
}
.bday{
  margin-top: 80px;
  text-align: center;
  background: linear-gradient(180deg, red 0%, blue 110%;);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
  font-size: 80px;
  font-family: bday;
}
<!--birthday-->
.name{
  padding-right: 100%;
  margin-left: 320px;
  margin-top: 80px;
  text-align: center;
  background: linear-gradient(180deg, red 0%, blue 110%;);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
  font-size: 80px;
  font-family: bday;
  padding-right: 100%;
  margin-left: 320px;
  display: inline-block;

}
@font-face {
  font-family: bday;
  src:url(bday.ttf);
}
.name:hover{
  -webkit-box-reflect:below;

}
.wrapper{
  position: relative;
  width: 320px;
  margin: 150px auto;
  perspective: 1000px;
  margin-bottom: 500px;

}
.img-area{
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transform: rotateY(-360deg) translateZ(-300px);
  animation: animate 25s steps(1000, end) infinite;

}
.single-img{
  position: absolute;
  width: 300px;
  height: 200px;
  left: 10px;
  top: 10px;

}
.single-img img{
  width: 300px;
  height: 200px;
  border: 5px solid white;
}
.single-img.img1{
  transform: rotateY(0deg) translate(300px);
}

  .single-img.img2{
    transform: rotateY(60deg) translate(300px);
  }
  .single-img.img3{
    transform: rotateY(120deg) translate(300px);
  }
  .single-img.img4{
    transform: rotateY(180deg) translate(300px);
  }
  .single-img.img5{
    transform: rotateY(240deg) translate(300px);
  }
  .single-img.img6{
    transform: rotateY(300deg) translate(300px);
  }
  .img{
    filter: grayscale(90%);
    transition: 1s;
    cursor: pointer;
  }
.img:hover{
  transition: 1s;
  filter: grayscale();
}
@@keyframes animate {
  from{
    transform: rotateY(360deg);
  }
  to{
    transform: rotateY(0deg);
  }
}
